node_modules/
.pnp
.pnp.js

.expo/
dist/
web-build/

npm-debug.*
yarn-debug.*
yarn-error.*
android/
ios/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
*.pem
Thumbs.db